body {

    background-size:135%;

    background-image: url(woshou.jpg)  ;
    background-repeat:no-repeat;

}
a:link {
color:#000000;
text-decoration:none;
}
a:visited {
color:#ffffff;
text-decoration:none;
}
a:hover {
color:#000000;
text-decoration:none;
}
a:active {
color:#FFFFFF;
text-decoration:none;
}

.form-login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-login .form-group_1 {
    font-size:17px;width:300px; height:100px;Margin-bottom:-20px;Margin-left:-120px;Margin-right:-120px;
}
.form-login .form-group_2 {
    font-size:17px;width:300px; height:100px;Margin-bottom:-20px;Margin-left:-120px;Margin-right:-120px;
}
.form-login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-login .form-control:focus {
    z-index: 2;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}