{% extends 'login/base.html' %}

{% block title %}发布任务{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <form class='form-register' action="/task/add/" method="post">
                {% for message in get_messages(request) %}
                    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        <a href="#" class="close" data-dismiss="alert">&times;</a>{{ message }}
                    </div>
                {% endfor %}
                {{ csrf_input }}
                <h1 class="text-center">发布任务</h1>
                <div class="form-group">
                    {{ task_form1.template.label_tag() }}
                    {{ task_form1.template }}
                </div>
                <div class="form-group">
                    {{ task_form2.q1.label_tag() }}
                    {{ task_form2.q1 }}
                </div>
                <div class="form-group">
                    {{ task_form2.a1_q1.label_tag() }}
                    {{ task_form2.a1_q1 }}
                </div>
                <div class="form-group">
                    {{ task_form2.a2_q1.label_tag() }}
                    {{ task_form2.a2_q1 }}
                </div>
                <div class="form-group">
                    {{ task_form2.a3_q1.label_tag() }}
                    {{ task_form2.a3_q1 }}
                </div>
                <div class="form-group">
                    {{ task_form2.a4_q1.label_tag() }}
                    {{ task_form2.a4_q1 }}
                </div>
                <div class="form-group">
                    {{ task_form2.a5_q1.label_tag() }}
                    {{ task_form2.a5_q1 }}
                </div>
                <div class="form-group">
                    {{ task_form2.img.label_tag() }}
                    {{ task_form2.img }}
                </div>
                <div class="form-group">
                    {{ task_form3.name.label_tag() }}
                    {{ task_form3.name }}
                </div>
                <div class="form-group">
                    {{ task_form3.details.label_tag() }}
                    {{ task_form3.details }}
                </div>
                <div class="form-group">
                    {{ task_form3.users.label_tag() }}
                    {{ task_form3.users }}
                </div>
                <button type="submit" class="btn btn-primary btn-block">发布</button>
            </form>
        </div>
    </div> <!-- /container -->
{% endblock %}