{% extends 'login/base.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ static('css/addtask_select_templete.css') }}"
  type='text/css' />
{% endblock %}
{% block title %}选择任务模板{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <form class='form-register' action="/addtask_step1/" method="post" enctype="multipart/form-data">
                {% for message in get_messages(request) %}
                    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        <a href=" #" class="close" data-dismiss="alert">&times;</a>{{ message }}
                    </div>
                {% endfor %}
                {{ csrf_input }}
              <div style="position: absolute;right:340px;margin-top:-2px;"><img   src="../static/css/shezhi.png/" width="50px"; height="50px";  ></div>
                <h1 class="text-center" style="font-size: 45px;">选择任务模板</h1>
            <div class="row">
                <input type='text' name='m' value={{ chioce }} hidden>
                <div class="select_1 col-md-4" style=" positon:relative; left:-300px;" >
                          <img   src="../static/css/zhangdan.png/" alt="问答式" style="width:200px;height:200px;">
                         <button type="submit" name = "q_a" onclick="set_templete(1)" class="btn btn-block btn-default" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);Margin-top:30px;Margin-bottom:0px;Margin-left:10px;Margin-right:0px;font-size: 25px;width: 200px;" ><span class="glyphicon glyphicon-screenshot"></span> 问答式 </button>
                 </div>
                <div class="select_1 col-md-4" style="positon:relative; left:60px;">
                     <img  src="../static/css/fangdajing.png/" alt="标记式" style="width:200px;height:200px;">
                         <button type="submit" name = "circle"  onclick="set_templete(2)"  class="btn btn-block btn-default" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);Margin-top:30px;Margin-bottom:0px;Margin-left:10px;Margin-right:0px;font-size: 25px;width: 200px;" ><span class="	glyphicon glyphicon-pushpin"></span> 标记式 </button>
                </div>
                <div class="select_1 col-md-4" style="positon:relative; right:-200px;">
                     <img  src="../static/css/shuxieshi.png/" alt="书写式" style="width:200px;height:200px;">
                         <button type="submit" name = "circle"  onclick="set_templete(3)"   class="btn btn-block btn-default" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);Margin-top:30px;Margin-bottom:0px;Margin-left:10px;Margin-right:0px;font-size: 25px;width: 200px;" ><span class="	glyphicon glyphicon-align-left"></span> 书写式 </button>
                </div>
            </div>
            </form>

                <form class='form-selecttemp-next' action="/addtask_step1/" method="post" >
                     {{ csrf_input }}
                    <div style="top:500px;">
                        <button type="submit" name="next" style="margin-top:30px;font-size: 20px;"; class="btn btn-warning btn-block"><span class="	glyphicon glyphicon-chevron-right"></span> 下一步</button>
                    </div>

                </form>
        </div>
    </div> <!-- /cont
ainer -->
{% endblock %}