{% extends 'login/base.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ static('css/addtask_select_member.css') }}"
          type='text/css'/>
{% endblock %}

{% block title %}设置可见范围{% endblock %}
{% block content %}
    <div class="container row">
        <div class="col-md-6" style="positon:relative;left:600px;">
            <form class='form-register' action="/addtask_step4/" method="post" enctype="multipart/form-data">
                {% for message in get_messages(request) %}
                    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        <a href=" #" class="close" data-dismiss="alert">&times;</a>{{ message }}
                    </div>
                {% endfor %}
                {{ csrf_input }}
                <div style="position: absolute;right:220px;margin-top: -170px;"><img src="../static/css/maike.png/"
                                                                                     width="80px" ; height="80px" ;>
                </div>
                <h1 class="text-center"
                    style="margin-top:200px;color:#122b40;font-size: 53px;margin-bottom: 90px;"></span>设置任务可见范围</h1>
                <div class="form-group " style="font-size: 20px;margin-top:90px;height: 80px;margin-bottom: 15px;">
                    {{ task_form4.users }}
                </div>
                <div class="col-md-12 row" style="positon:relative;margin-top: 15px;">
                    <div class="col-md-6" style="top:18px;left:3px;">
                        <button type="button" name="last" onclick="window.location.href='/addtask_step3/'"
                                style="margin-top:0px;font-size: 20px;"
                                class="btn btn-danger btn-block"><span
                                class="	glyphicon glyphicon-chevron-left"></span> 上一步
                        </button>
                    </div>
                    <div class="col-md-6" style="top:-13px;right:0px;">
                        <button type="submit" name="next" style="margin-top:30px;font-size: 20px;" ;
                                class="btn btn-group btn-block"><span
                                class="	glyphicon glyphicon-chevron-right"></span> 下一步
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div> <!-- /container -->
{% endblock %}