

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}base{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{{ static ('bootstrap-3.3.7-dist/css/bootstrap.min.css') }}    " rel="stylesheet">
    <link href="{{static ( 'bootstrap-table-dist/bootstrap-table.min.css' )}}" rel="stylesheet">
    {#    <link rel="stylesheet"#}
    {#          href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">#}
    {% block css %}{% endblock %}
</head>

<body style="margin:50px">



{% block content %}{% endblock %}


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
{#<script src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>#}
<script src="{{  static ('js/jquery-3.3.1.js') }} "></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{   static ('bootstrap-3.3.7-dist/js/bootstrap.min.js')}}"></script>
<script src=" {{ static( 'bootstrap-table-dist/bootstrap-table.js')}}"></script>
<script src="{{ static ('js/ga.js')}}"></script>
<script src="{{ static ('bootstrap-table-dist/extensions/export/bootstrap-table-export.js')}}"></script>
<script src="{{ static ('bootstrap-table-dist/locale/bootstrap-table-zh-CN.js')}}"></script>
</body>
</html>
