{% extends 'login/base.html' %}

{% block title %}主页{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_messages(request) %}
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                <a href="#" class="close" data-dismiss="alert">&times;</a>{{ message }}
            </div>
        {% endfor %}
        {% if request.session.is_login %}
            {% if request.session.group=='admin' %}
                <h1 class="text-center">管理员{{ request.session.username }}已登录</h1>
            {% else %}
                <h1 class="text-center">用户{{ request.session.username }}已登录</h1>
            {% endif %}
        {% else %}
            <h1 class="text-center">请登录或注册</h1>
        {% endif %}
    </div> <!-- /container -->
{% endblock %}
