{% extends 'login/base.html' %}

{% block title %}注册{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <form class='form-register' action="/register/" method="post">
                {% for message in get_messages(request) %}
                    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        <a href="#" class="close" data-dismiss="alert">&times;</a>{{ message }}
                    </div>
                {% endfor %}
                {{ csrf_input }}
                <h1 class="text-center">欢迎注册</h1>
                <div class="form-group">
                    {{ register_form.username.label_tag() }}
                    {{ register_form.username }}
                </div>
                <div class="form-group">
                    {{ register_form.password1.label_tag() }}
                    {{ register_form.password1 }}
                </div>
                <div class="form-group">
                    {{ register_form.password2.label_tag() }}
                    {{ register_form.password2 }}
                </div>
                <div class="form-group">
                    {{ register_form.email.label_tag() }}
                    {{ register_form.email }}
                </div>
                <div class="form-group">
                    {{ register_form.phone.label_tag() }}
                    {{ register_form.phone }}
                </div>
                <div class="form-group">
                    {{ register_form.sex.label_tag() }}
                    {{ register_form.sex }}
                </div>
                <button type="submit" class="btn btn-primary btn-block">注册</button>
            </form>
        </div>
    </div> <!-- /container -->
{% endblock %}
