{% extends 'login/base.html' %}


{% block title %}任务管理{% endblock %}


{% block content %}
    <div class="container">
        {% if request.session.message %}
            <div class="alert alert-success">{{ request.session.message }}</div>
        {% endif %}
        <h1 class="text-center" style="font-family: 华文行楷">任务列表</h1>
        <table data-toolbar="#toolbar"
               data-toggle="table"
                {% if request.session.group=='admin' %}
               data-url="{{ url('get_all_tasks') }}"
                {% else %}
               data-url="{{ url('get_user_tasks') }}"
                {% endif %}
               data-method="get"
               data-pagination="true"
               data-side-pagination="server"
               data-page-list="[10, 20, 50, 100, 200]"
               data-search="true"
               data-mobile-responsive="true"
               data-show-refresh="true"
               data-show-columns="true"
               data-show-toggle="true"
               data-show-pagination-switch="true"
               data-show-export="true"
               data-page-size=5
               data-unique-id="task_name"
               data-striped="true">
            <div id="toolbar" class="btn-toolbar" role="toolbar">
                {% if request.session.group=='admin' %}
                    <div class="btn-group">
                        <a href="/add_task/" class="btn btn-primary">发布任务</a>
                    </div>
                    <div class="btn-group">
                        <button id="remove" class="btn btn-danger" disabled>
                            删除任务
                        </button>
                    </div>
                {% endif %}

                <!--------------->
                {#                <div class="container">#}
                <div class="btn-group">
                    <select class="form-control">
                        <option value="">导出当前页数据</option>
                        <option value="all">导出全部数据</option>
                        <option value="selected">导出选中数据</option>
                    </select>
                </div>
                {#                </div>#}
                <!--------------->
            </div>
            <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="task_name" data-sortable="true">任务名</th>
                <th data-field="task_admin" data-sortable="true">发布者</th>
                <th data-field="task_users" data-sortable="false">执行者</th>
            </tr>
            </thead>
        </table>


    </div>



{% endblock %}
