{% extends 'login/base.html' %}


{% block title %}任务管理{% endblock %}


{% block content %}
    <div class="container">
        {% if request.session.message %}
            <div class="alert alert-success">{{ request.session.message }}</div>
        {% endif %}

        {% if request.session.group=='admin' %}
            <h1 class="text-center" style="font-family: 华文行楷">已发布任务列表</h1>
            <div id="toolbar" class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <a href="/task/add/" class="btn btn-primary">发布任务</a>
                </div>
                {#                <div class="btn-group">#}
                {#                    <button id="remove" class="btn btn-danger">#}
                {#                        删除任务#}
                {#                    </button>#}
                {#                </div>#}
                <!--------------->
                {#                <div class="container">#}
                {#                <div class="btn-group">#}
                {#                    <select class="form-control">#}
                {#                        <option value="">导出当前页数据</option>#}
                {#                        <option value="all">导出全部数据</option>#}
                {#                        <option value="selected">导出选中数据</option>#}
                {#                    </select>#}
                {#                </div>#}
                {#                </div>#}
                <!--------------->
            </div>
            <table id="table"
                   data-toolbar="#toolbar"
                   data-toggle="table"
                   data-url="{{ url('get_all_tasks') }}"
                   data-method="get"
                   data-pagination="true"
                   data-side-pagination="server"
                   data-page-list="[10, 20, 50, 100, All]"
                   data-search="true"
                   data-mobile-responsive="true"
                   data-show-refresh="true"
                   data-show-columns="true"
                   data-show-toggle="true"
                   data-show-pagination-switch="true"
                    {#                   data-show-export="true"#}
                   data-page-size=10
                   data-unique-id="task_name"
                   data-striped="true">
                <thead>
                <tr>
                    <th data-field="state" data-checkbox="true"></th>
                    <th data-field="task_name" data-sortable="true">任务名</th>
                    <th data-field="task_admin" data-sortable="true">发布者</th>
                    <th data-field="task_users" data-sortable="false">执行者</th>
                    <th data-field="task_c_time" data-sortable="true">发布时间</th>
                    <th data-field="task_details" data-sortable="false">任务详情</th>
                </tr>
                </thead>
            </table>
        {% elif request.session.group=='user' %}
            <h1 class="text-center" style="font-family: 华文行楷">当前用户任务列表</h1>
            <div id="toolbar" class="btn-toolbar" role="toolbar">
                <!--------------->
                {#                <div class="container">#}
                {#                <div class="btn-group">#}
                {#                    <select class="form-control">#}
                {#                        <option value="">导出当前页数据</option>#}
                {#                        <option value="all">导出全部数据</option>#}
                {#                        <option value="selected">导出选中数据</option>#}
                {#                    </select>#}
                {#                </div>#}
                {#                </div>#}
                <!--------------->
            </div>
            <table id="table"
                   data-toolbar="#toolbar"
                   data-toggle="table"
                   data-url="{{ url('get_user_tasks') }}"
                   data-method="get"
                   data-pagination="true"
                   data-side-pagination="server"
                   data-page-list="[10, 20, 50, 100, All]"
                   data-search="true"
                   data-mobile-responsive="true"
                   data-show-refresh="true"
                   data-show-columns="true"
                   data-show-toggle="true"
                   data-show-pagination-switch="true"
                    {#                   data-show-export="true"#}
                   data-page-size=10
                   data-unique-id="task_name"
                   data-striped="true">
                <thead>
                <tr>
                    <th data-field="state" data-checkbox="true"></th>
                    <th data-field="task_name" data-sortable="true">任务名</th>
                    <th data-field="task_admin" data-sortable="true">发布者</th>
                    <th data-field="task_c_time" data-sortable="true">发布时间</th>
                    <th data-field="task_details" data-sortable="false">任务详情</th>
                </tr>
                </thead>
            </table>
        {% endif %}
    </div>

    {#    <script>#}
    {#        var $table = $('#table'),#}
    {#            $button = $('#remove');#}
    {##}
    {#        $(function () {#}
    {#            $button.click(function () {#}
    {#                var ids = $.map($table.bootstrapTable('getSelections'), function (row) {#}
    {#                    return row.task_name;#}
    {#                });#}
    {#                $table.bootstrapTable('remove', {#}
    {#                    field: 'task_name',#}
    {#                    values: ids#}
    {#                });#}
    {#            });#}
    {#        });#}
    {#    </script>#}


{% endblock %}
