{% extends 'login/base.html' %}


{% block title %}任务管理{% endblock %}


{% block content %}
    {% if request.session.message %}
        <div class="alert alert-warning">{{ request.session.message }}</div>
    {% endif %}
    {% if request.session.is_login %}
        {% if request.session.group=='user' %}
            <h2>管理员您好！目前已发布的任务如下：</h2>
            <table id="asset_list_table" class="display table  table-hover" data-toggle="table"
                   data-url="{{ url('show_all_tasks') }}"
                   data-method="get"
                   data-pagination="true"
                   data-side-pagination="server"
                   data-page-list="[10, 20, 50, 100, 200]"
                   data-search="true" data-mobile-responsive="true"
                   data-show-refresh="true" data-show-columns="true"
                   data-show-toggle="false" data-page-size=20 data-unique-id="task_name"
                   data-striped="true"
            >
                <thead>
                <tr>
                    <th data-field="state" data-checkbox="true"></th>
                    <th data-field="task_name" data-sortable="true">任务名</th>
                    <th data-field="task_admin" data-sortable="true">发布者</th>
                    <th data-field="task_user" data-sortable="false">执行者</th>
                </tr>
                </thead>
            </table>
        {% endif %}

    {% else %}
        <h2>您没有权限查看此页面，请登录或注册</h2>
    {% endif %}


{% endblock %}
